<%- title "For All Eternity | White Flame" %>
<%- description "Download For All Eternity's new single \"White Flame\"" %>
<%- keywords "For All Eternity, Christian, Metal, Australia, White, Flame, Single, 2013" %>
<div id="main">
	<div class="container" id="main-container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center">
				<div class="row">
					<div class="col-md-12">
						<%= link_to download_song_path, class: "white-flame-artwork" do %>
							<%= image_tag asset_path("white-flame-artwork-small.jpg") %>
						<% end %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<h1 class="home-page-header">Right click and "Save Link As..." to download:</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<%= link_to "Download Single", download_song_path, class: "btn btn-default btn-custom" %>
					</div>
					<div class="col-md-6">
						<%= link_to "Download Artwork", download_artwork_path, class: "btn btn-default btn-custom" %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<%= link_to "I'm Feeling Lucky", merry_christmas_path, class: "btn btn-default btn-custom" %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="flex-video widescreen">
							<iframe width="560" height="315" src="//www.youtube.com/embed/uyfYNgxKFH0" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%= content_for :page_specific_js do %>
	<script type="text/javascript">
		$(function() {

			function neonSign(){
				var max = 0.9;
				var min = 0.2;
		    var randSeconds = Math.random() * (max - min) + min;
		    var randDelay = randSeconds;
		    
		    var speed = 70; // transition speed going form opacity 1 to 0.2 or 0.2 to 1
		    var $img=$('.white-flame-artwork img');
		    var max = 1.0;
		    var min = 0.9;
		    var opacity = Math.random() * (max - min) + min;
		    
		    $img.delay(randDelay).animate({'opacity':opacity},speed,function(){
		        $img.animate({'opacity':1},speed,neonSign() );
		    });
			}

			neonSign();

		});
	</script>
<% end %>